@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@media screen and (max-width: 812px) {
   .title-image p {
    font-size: 20px !important;
    top: 30% !important;
    }
}
header .container {
    margin-bottom: 40px;
}
body {
    background-color: lightgray !important;
    font-family: 'Open Sans', sans-serif !important;
}


.span4 img {
    margin-right: 10px;
}

.card col-12 col-sm-12 col-md-6 col-lg-6 text-center {
    background: lightgray !important;
}

.btn-primary {
    color: rgb(60, 66, 66);
    background-color: lightgray;
    border-color: blightgray;
}

.btn-primary:hover {
    background-color: lightgray !important;
    color: black !important;
    border-color: lightgray !important;
}


.title-image {
  position: relative;
  
  height: 90%;
}


.title-image {
  width: 100%;
  height: 50%;
}


.title-image .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px;
  border-color: black;
}

.title-image p {
  position: absolute;
  color: black;
  font-size: 30px;
  top: 60%;
  left: 50%;
  text-align: center;
  transform: translate( -50%, -50% );
}

.card {
    background: lightgray !important;
    color: black;
    font-size: 22px;
    line-height: 250%;
}

.title-image .btn:hover {
  color: rgba(200,200,200,200);
  border-color: rgba(200,200,200,200);
}

.btn-primary.focus,
.btn-primary:focus {
    background: lightgray;
    border-color: lightgray;
    box-shadow: 0 0 0 0rem;
}


.bg-dark {
    background: lightgray;
}

span.btn.btn-fb {
    background: lightgray !important;
    border-color: lightgray;
    color: blue;
}
span.btn.btn-ins {
    background: lightgray !important;
    border-color: lightgray;
    color: red;
}

span.btn.fetch-quote {
    color: goldenrod;
}

span.quote {
    font-style: italic;
}
span.author {
    font-style: italic;
}

span.btn.btn-fb:hover {
    border-color: lightgray !important;
    font-weight: bold !important;
    box-shadow: 0 0 0 0rem;
}

footer {
    margin: 15px;
    padding: 15px;
    color: black;
}

.img-footer {
    width: 50%;
}

form, .contact-submit {
    width: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

#contact {
    color: black;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.philosophy-img {
    width: 400px;
    height: 400px;
}

.philosophy-text {
    width: 40%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.philosophy {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 70px;
    color: black;
}

#philosophy {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-table {
    display: flex;
    justify-content: center;
    margin: 15px;

}

tr, td {
    border-style: groove;
    padding: 10px;
    text-align: center;
    color: black;
}

th {
    border-style: hidden hidden groove hidden;
    padding-bottom: 15px;
}

#hoverable:hover{
    background-color:#fffffffb;
}  
